@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Evanescent';
  src: url('/fonts/45_Evanescent.woff2') format('woff2'),
       url('/fonts/45_Evanescent.woff') format('woff'),
       url('/fonts/45_Evanescent.ttf') format('truetype'),
       url('/fonts/45_Evanescent.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}