.library-container {
    padding: 5px;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

.flexBox {
    display: flex;
    justify-content: space-between;
}

.deckZone {
    border: solid 1px #ccc;
    padding: 10px;
    height: fit-content;
    /* width: 70%; */
}

.deckName {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}


.filter-button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter-button:hover {
    background-color: #0056b3;
}

.card-grid-deck {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    gap: 20px; /* Space between cards */
    padding: 20px; /* Space around the grid */
    box-sizing: border-box;
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.card-deck:hover {
    transform: scale(1.05);
}

.card-deck canvas {
    width: 100%;
    height: auto;
}

.deck-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .flexBox {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    .filter-modal-content {
        background: white;
        padding: 2px;
        border-radius: 10px;
        max-width: 500px;
        width: 70%;
    }
    .deck-grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }
    
}

@media (max-width: 400px) {
}

.filter-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.filter-modal-content h3 {
    margin-top: 0;
    text-align: center;
}

.filter-modal-content .filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.filter-modal-content label {
    flex: 1; /* Take up equal space on the left */
    margin-bottom: 0;
}

.filter-modal-content select,
.filter-modal-content input {
    flex: 2; /* Take up more space on the right */
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}

.filter-modal-content button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-modal-content button:hover {
    background-color: #f1f1f1;
}

.pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination-controls button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
